header {
  width: 100%;
  height: 4rem;
  background-color: #ccc;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar ul li {
  margin: 0 20px;
}
.navbar a {
  padding: 7px 13px;
}

.navbar a:hover,
.active {
  background-color: #fff;
  color: blueviolet !important;
  border-radius: 3px;
}
